{% extends 'base.html.twig' %}

{% block title %}Pabellón de Lahiguera - Inicio
{% endblock %}

{% block body %}{% endblock %}
{% block navbar %}
	<h1 class="text-center mb-4">Pabellon Municipal Juan Ramon Barragan</h1>
	{{ parent() }}
{% endblock %}
