.container-listaUsuarios {
    .input-group-icon .input-group-text {
        height: 100%;
    }

    .btn-bono {
        border: 2px solid black;
        font-weight: bold;
        font-size: 16px;
        padding: 8px 16px;
        background-color: #C2F6FF;
    }

    .btn-bono-text {
        font-size: 16px;
        font-weight: bold;
        color: black;
    }

}